/* For dark and light theme */
:root {
  --background: white;
  --nav-background: #0d6efd;
  --input-background: #eee;
  --info-text: #0d6efd;
  --shadow: 20px 16px 10px hsl(0deg 0% 0% / 0.25);
}

body {
  /* hardcode for dark theme, css var not working, don't know why  */
  background: linear-gradient(to right, #111, #043927, #111);
}

[data-theme="dark"] {
  --background: linear-gradient(to right, #111, #043927, #111);
  --nav-background: #043927;
  --input-background: none;
  --info-text: white;
  --shadow: 0px -1px 5px green, 20px 16px 10px hsl(0deg 0% 0% / 0.25);
}

.theme {
  background-color: var(--background);
  height: 100vh;
}

.theme-icon {
  cursor: pointer;
}

.theme-icon :hover {
  color: orangered;
}

.theme nav {
  background: var(--nav-background);
}

.input-bar {
  background: var(--input-background);
}

@media (max-width: 576px) {
    .input-bar>button, .input-bar>div {
        margin: 5px 0;
    }
}

.possible-solutions {
  color: var(--info-text);
  z-index: 1;
}
